.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-image: url(./assets/background.jpg);
}

.apptext {
  text-align: center;
  margin: 15px auto;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.container {
  position: relative;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 15px;
}
