.cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cart-items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 800px;
}